:root {
    --primary-dark: black;
    --secondary-dark: rgb(14, 14, 31);
    --commands: rgb(59, 59, 59);
    --text-light: white;
    --text-dark: rgb(150, 147, 147);
}

/* #region Commons */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
   /*  height: 100%; */
    background-color: black;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* #endregion Commons */

/* #region Utility */

.row {
    display: flex;
}

.btn {
    background-color: transparent;
    color: var(--text-light);
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
}

.enlarge:hover {
    transform: scale(1.2);
}

.round {
    border-radius: 50%;
}

.icon_light {
    color: var(--text-dark);
    font-size: 14px;
    margin-left: 10px;
}

.icon_white {
    color: var(--text-light);
    font-size: 14px;
    margin-left: 10px;
}

.player_icon {
    font-size: 18px;
    color: var(--text-light);
}

.icon_large {
    font-size: 30px;
    /* transition: 500ms; */
}

.icon_menu {
    font-size: 20px;
    margin-right: 5px;
    color: var(--text-dark);
}

.p_left {
    padding-left: 1rem;
}

.m_top {
    margin-top: 1rem;
}

/* #endregion Utility */

/* #region Main */

#site_main {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--secondary-dark);
   /*  position: relative; */
}

/* #region Overlay */

.overlay {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay.row {
    justify-content: flex-end;
    align-items: center;
}

.upgrade_button {
    transition: 500ms;
}



/* #endregion Overlay */

/* #region Side menu */

.side_menu {
    width: 200px;
    height: calc(100vh - 80px);
    background-color: var(--primary-dark);
}

/* Logo */

.logo {
    /*  background-color: antiquewhite; */
     height: 80px;
     width: 150px;
     margin-left: 1rem;
 }
 
 .logo_image {
     width: 130px;
     height: 100%;
     align-items: center;
 }

 .logo_small {
     height: 40px;
     width: 100px;
     margin: 0.5rem 0;
     display: none;
    }

 .logo_small>i {
    font-size: 30px;
 }

/* /Logo */


.menu_container {
    height: 100%;
}

.menu_section {
    flex-direction: column;
    row-gap: 10px;
}

.menu_section span {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-dark);
}

.home {
    border-left: 2px solid greenyellow;
}

.home i,
.home span {
    color: var(--text-light);
}

.search:hover a>i, .search:hover a>span {
    color: var(--text-light);
}

.library:hover a>i, .library:hover a>span {
    color: var(--text-light);
}

.menu_playlist>h4 {
    color: var(--text-light);
    font-weight: 600;
    font-size: 13px;
}

.add {
    background-color: var(--text-dark);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.add i {
    color: var(--primary-dark);
    font-weight: 600;
    font-size: 15px;
}

.add_playlist>span {
    color: var(--text-dark);
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    margin-left: 10px;
}

.add_playlist:hover .add {
    background-color: var(--text-light);
}

.add_playlist:hover span {
    color: var(--text-light);
}

.playlist_directory {
    height: 400px;
    min-height: 250px;
    overflow-y: auto;
}

.playlist_directory li {
    font-weight: 600;
    font-size: 12px;
    margin-top: 1rem;
}

.playlist_directory a {
    color: var(--text-dark);
}

.name:hover a {
    color: var(--text-light);
}

.install_app>a {
    color: var(--text-dark);
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.install_app span {
    margin-left: 1rem;
}

a.row {
    align-items: center;
}

a.row:hover i, a.row:hover span {
    color: var(--text-light);
}

.install_app>hr {
    border: 1px solid var(--text-dark);
    width: 90%;
}

.user>i, .user>span {
    font-size: 15px;
    font-weight: 800;
    color: var(--text-light);
}

/* #endregion Side menu */

/* #region Playlist_showdown */
.playlist_showdown {
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    background-color: var(--secondary-dark);

}

.container_category {
    justify-content: center;
}

.category_section {
    padding: 1rem;
    column-gap: 10px;
    flex-wrap: wrap;
}

.category_section>a {
    color: var(--text-dark);
    font-size: 12px;
    font-weight: 600;
    padding: 0.5rem;
    text-transform: uppercase;
}

.active:hover {
    color: var(--text-light);
}

.under_green {
    border-bottom: 2px solid greenyellow;
}

.all_playlists {
    overflow: auto;
    height: calc(100% - 140px);
    padding: 0 1rem 1rem 1rem;
}

.all_playlists h2 {
    color: var(--text-light);
    margin-top: 1rem;
}

.all_playlists p {
    color: var(--text-dark);
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

/* .container_played,
.container_personal,
.container_popular {
    width: 100%;
} */

.measure {
    width: 100%;
    column-gap: 1%;
    margin-top: 2rem;
}

.wrap {
    flex-wrap: wrap;
}

.playlist_cards {
    height: 250px;
    width: 180px;
    flex-shrink: 1;
}

.card_image {
    position: relative;
}

.card_image>i {
    font-size: 50px;
    position: absolute;
    top: 90px;
    left: 90px;
    transform: translate(-50%, -50%);
    color: var(--text-light);
    display:none;
}

.card_image:hover img {
    filter: brightness(0.5);
}
.card_image:hover i {
    display: block;
}

.card_text {
    color: var(--text-light);
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    font-size: 12px;
}



/* #endregion Playlist_showdown */


/* #endregion Main */

/* #region Footer */

#site_footer {
    width: 100%;
    height: 80px;
    background-color: var(--commands);
    position: fixed;
}

.commands_container {
    justify-content: space-between ;
    height: 100%;
}

.commands_left, .commands_right {
    height: 100%;
    width: 250px;
    padding: 1.5rem 1rem;
    align-items: center;
    column-gap: 1rem;
}

.command_image {
    width: 40px;
}

.command_specify>h4 {
    font-size: 13px;
    font-weight: 600;
    color: var(--text-light);
} 

.command_specify>p {
    font-size: 10px;
    font-weight: 600;
    color: var(--text-dark);
}

.command_specify:hover p {
    color: var(--text-light);
    text-decoration: underline;
}

.command_interactions {
    margin-left: 1rem;
}

.heart:hover i, .folder:hover i {
    color: var(--text-light);
}

.commands_center {
    width: 500px;
    height: 100%;
}

.commands_center {
    flex-wrap: wrap;   
}

.command_player {
    justify-content: center;
    column-gap: 1rem;
}

.command_player, .player_bar {
    width: 100%;
    align-items: center;
}

.player_bar {
    justify-content: center;
    align-content: flex-end;
}
.player_bar>span {
    color: var(--text-light);
    font-weight: 600;
    font-size: 13px;
    margin: 0 5px;
}

.player_bar>span:last-child {
    margin-left: 20px;
}

.bars {
    height: 30%;
    width: 100%;
    position: relative;
}

.dark_bar {
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--text-dark);
    margin: 0 0.5rem;
}

.light_bar {
    height: 5px;
    width: 30%;
    border-radius: 5px;
    background-color: var(--text-light);
   /*  display: none; */
}

.green_bar {
    height: 5px;
    width: 30%;
    border-radius: 5px;
    background-color: greenyellow;
    display: none;
}

.round_audio {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: -3px;
    left: 120px;
    border-radius: 50%;
    background-color: var(--text-light);
    display: none;
}

.bars:hover .light_bar {
    display: none;
}
.bars:hover .green_bar, .round_audio {
    display: block;
}

/* Commands right */

.audio_bar {
    width: 65%;
    align-items: center;
    position: relative;
}

.dark_audio {
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--text-dark);
    margin: 0 0.5rem;
}

.light_audio {
    height: 5px;
    width: 50%;
    border-radius: 5px;
    background-color: var(--text-light);
   /*  display: none; */
}

.green_audio {
    height: 5px;
    width: 50%;
    border-radius: 5px;
    background-color: greenyellow;
    display: none;
}

.round_circle {
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 2px;
    left: 75px;
    border-radius: 50%;
    background-color: var(--text-light);
    display: none;
}

.audio_bar:hover .light_audio {
    display: none;
}

.audio_bar:hover .green_audio, .round_circle {
    display: block;
}



/* #endregion Footer */

/* #region Media queries */

/* #region media small */

@media screen and (max-width: 568px) {

    .logo {
        display: none;
    }

    .logo_small {
        display: block;
    }

    .side_menu {
        width: 50px;
    }

    .menu_section span {
        display: none;
    }

    .home,
    .search,
    .library {
        padding-left: 0.7rem;
    }

    .playlist_showdown {
        width: calc(100% - 50px);    
    }

    .menu_playlist>h4 {
        display: none;
    }
    
    .add {
        display: none;
    }
    
    .add_playlist>span {
        display: none;
    }
    
    
    .playlist_directory {
        height: 450px;
        min-height: 250px;
        overflow-y: auto;
    }
    
    .playlist_directory li {
        display: none;
    }
    
    .install_app>a {
        font-size: 12px;
        margin-left: 0.2rem;
    }
    
    .install_app span {
       display: none;
    }
    
    .install_app>hr {
       display: none;
    }

    .user>i {
        font-size: 20px;
    }
    
    .user>span {
        display: none;
    }

    .playlist_directory {
        height: 550px;
    }
    
    .category_section {
        padding: 1rem;
        row-gap: 15px;
        column-gap: 5px;
        flex-wrap: wrap;
    }

    .w-24 {
        width: 24%;
    }

    .w-40 {
        width: 40%;
        justify-content: center;
    }
    
    .category_section>a {
        font-size: 14px;
        font-weight: 800;
        padding: 0;
        text-transform: uppercase;
    }
}

/* #endregion media small */

/* #endregion Media queries */



